@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: noms;
  src: url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");
}


.userCards{
  height: 500px;
}

.Lemonada {
  font-family: 'Lemonada', cursive;
}

.Redressed {
  font-family: 'Redressed', cursive;
}